@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

/* Header */
#header {
  background: #2c3e50;
  padding: 1.5rem 0;
  position: fixed;
  width: 100%;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5rem;
    box-sizing: border-box;
  }

  span {
    margin: 0 1rem;

    a {
      &:hover {
        color: #1abc9c;
        transition: 200ms;
      }
    }
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
  }

  #brand {
    font-size: 1.75rem;
    font-weight: bold;
  }
}

/* Personel */
#personel {
  background: #1abc9c;
  padding: 7.5rem 5rem 2rem 5rem;

  .personel-container {
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

    div {
      font-size: 2rem;
    }

    h1 {
      font-size: 4rem;
      margin: 2rem 0;
    }

    img {
      width: 240px;
      height: 254.5px;
      margin: 1rem;
    }
  }
}

/* Portfolio */
#portfolio {
  background: white;
  padding: 6rem 0;

  .portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .grid {
      // padding: 1rem 0;
      display: grid;
      gap: 50px 50px;
      grid-template-columns: auto auto auto;
      margin: 1rem 2.5rem;
      width: 50%;

      img {
        width: 400px;
        border-radius: 10px;
      }
    }

    div {
      text-align: center;
      font-size: 2rem;
      color: #2c3e50;

      h1 {
        margin: 0;
      }

      i {
        margin: 1.5rem 0;
      }
    }
  }
}

/* About */
#about {
  background: #1abc9c;
  padding: 5rem 2.5rem;

  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

    h1 {
      font-size: 2rem;
      margin: 0;
    }

    i {
      font-size: 2rem;
      margin: 1.5rem 0;
    }

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
      margin: 0 5rem;

      span {
        padding: 1rem 3rem;
        letter-spacing: 0.1rem;
        line-height: 1.5rem;
        font-weight: 500;
      }
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 1rem;
      font-weight: 500;
      margin-top: 1.5rem;
      padding: 1rem;
      letter-spacing: 0.1rem;
      border: 2px white solid;
      border-radius: 10px;

      &:hover {
        cursor: pointer;
        transition-duration: 250ms;
        color: black;
        background: white;
      }

      i {
        font-size: 1.5rem;
        margin: 0;

      }
    }
  }
}

/* Contact */
#contact {
  padding: 5rem 0;

  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h1 {
    color: #2c3e50;
    font-size: 2rem;
    margin: 0;
  }

  i {
    color: #2c3e50;
    font-size: 2rem;
    margin: 1.5rem 0;
  }

  form {
    font-size: 1.5rem;
    margin: 2rem 0;
    width: 50%;

    input,
    textarea {
      width: 100%;
      font-size: 1.25rem;
      border: none;
      border-bottom: 1px solid rgb(209, 209, 209);
      margin-bottom: 1.5rem;

      // ???????????
      &:focus {
        border: none;
        border-bottom: 1px solid rgb(209, 209, 209);
      }
    }

    button {
      background: #69d3be;
      color: white;
      padding: 1.5rem 2rem;
      font-size: 1.25rem;
      border: 0px;
      border-radius: 10px;
    }
  }
}

/* Footer */
#footer {
  padding: 5rem 0;
  background: #2c3e50;

  .footer-container {
    text-align: center;
    color: white;

    .info {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    div {
      margin: 0 3rem;
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
        padding: 0;
        list-style-type: none;

        i {
          border: 2px white solid;
          border-radius: 50%;
          padding: 1rem;
          margin: 0 0.5rem;
          font-size: 1.25rem;
          width: 1.25rem;
          height: 1.25rem;

          &:hover {
            cursor: pointer;
            transition-duration: 250ms;
            color: black;
            background: white;
          }
        }
      }

      h1 {
        margin: 1.5rem 0;
      }
    }

    div p {
      font-size: 1.25rem;
      margin-bottom: 3rem;
    }

    #footer-p {
      a {
        color: #1abc9c;
      }
    }
  }
}

/* Copyright */
#copyright {
  background: #1a252f;
  padding: 1.5rem 0;
  text-align: center;

  small {
    color: white;
    margin: 0;
  }
}
